{% extends "base.html"%}

{% block title_head %}
<title>Cañas de Pesca</title>
{% endblock title_head %}


{% block h1_header %}
Cañas de Pesca
{% endblock h1_header %}



{% block main %}

<form action="">
    <input type="text" name="marca" placeholder="Spinit, Okuma...">
    <input type="submit" value="Buscar">
</form>

{% if listado_de_cañas %}
{% for caña_de_pescar in listado_de_cañas %}
<ul>
    <li>{{caña_de_pescar}}</li>
</ul>
{% endfor %}

{% else %}

<p>No se encontraron Cañas</p>

{% endif %}
{% endblock main %}

